
{{#each this}}
<li class="hero__item" data-id='{{id}}'>
   <div class="hero__imagebox vote-average__position">
   {{#if poster_path}}
   <img class="hero__image" src="https://image.tmdb.org/t/p/w400{{poster_path}}" alt="{{original_title}}"
      data-type="{{media_type}}" data-src="{{id}}">
   {{else}}
   <img class="hero__image" src="https://breaksandbites.files.wordpress.com/2016/11/coming-soon-image.png" data-src="{{id}}"
      height="422" />
            {{/if}}
   <span class="parameter__value--avg parameter__value parameter__position">{{vote_average}}</span>
   </div>
   <h2 class="hero__title">{{original_title}}</h1>
   <div class="hero__descriptionbox">
      <ul class="descriptionbox__list">
         <li class="descriptionbox__item">
            {{#each genres}}
               <span class="hero__genres">{{this}}</span>
               <span class="symbol">,</span>
            {{/each}}
         </li>
         <li class="descriptionbox__item">
            <p class="hero__year">{{release_date}}</p>
         </li>
      </ul>
   </div>
</li>
{{/each}}