<form class='modal-form'>
    <button type='button' class='modal-form__close-btn' data-menu-close>
        <svg class='modal-form__close-icon'>
            <use href=''></use>
        </svg>
    </button>
<div class='modal-form__card'>
    <img class='card__image' src='{{backdrop_path}}' />
    <div class='card__info'>
        <h2 class='card__name'>{{title}}</h2>
        <ul class='card__parametes'>
            <li class='card__parameter'>
                <span class='parameter__name'>Vote / Votes</span>
                <span class='parameter__value'>{{vote_average}}</span>
                <spam>/</spam>
                <span class='parameter__value'>{{vote_count}}</span>
            </li>
        <li class='card__parameter'>
            <span class='parameter__name'>Popularity</span>
            <span class='parameter__value'>{{popularity}}</span>
        </li>
        <li class='card__parameter'>
            <span class='parameter__name'>Original Title</span>
            <span class='parameter__value'>{{original_title}}</span>
        </li>
        <li class='card__parameter'>
            <span class='parameter__name'>Genre</span>
            {{#each genres}}
            <span class='parameter__value'>{{this.name}}</span>
            {{/each}}
        </li>
        </ul>
    <p class='card__about-caption'>About</p>
    <p class='card__about'></p>
    <div class='modal-form__buttons'>
        <button class='modal-form__watched-btn' type='button'>add to Watched</button>
        <button class='modal-form__queue-btn' type='button'>add to queue</button>
    </div>
    </div>
    </div>

</form>